<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="addChoiceQuestion">
    <div id="addChoiceQuestionModel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="addChoiceQuestionModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addChoiceQuestionModelLabel">添加选择题</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="addChoiceQuestionModelClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="addUserStudyModelInfo">
                    <form id="addUserStudyForm">
                        <input type="hidden" name="examId" id="addChoiceQuestionExamId" th:value="${exam.id}">
                        <div class="form-group">
                            <label for="examSubject" style="font-weight:bold;">题目</label>
                            <input type="text" id="examSubject" name="examSubject" class="form-control" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="examOptionA" style="font-weight:bold;">选项A</label>
                            <input type="text" id="examOptionA" name="examOptionA" class="form-control" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="examOptionB" style="font-weight:bold;">选项B</label>
                            <input type="text" id="examOptionB" name="examOptionB" class="form-control" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="examOptionC" style="font-weight:bold;">选项C</label>
                            <input type="text" id="examOptionC" name="examOptionC" class="form-control" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="examOptionD" style="font-weight:bold;">选项D</label>
                            <input type="text" id="examOptionD" name="examOptionD" class="form-control" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="examAnswer" style="font-weight:bold;">答案</label>
                            <input type="text" id="examAnswer" name="examAnswer" class="form-control" maxlength="1">
                            <p style="color: red">*答案只能写A/B/C/D</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" onclick="addChoiceQuestion();">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>