<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <a href="/"><img src="/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <p>智学新知由长春工业大学计算机科学与工程学院软件工程专业2015级学生郭欣光于2019年开发，该系统作为其本科毕业设计作品。</p>
                        <div class="footer-social-info">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-dribbble"></i></a>
                            <a href=""><i class="fa fa-behance"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>快速访问</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="/">首页</a></li>
                                <li><a href="/course/time/1">课程</a></li>
                                <li><a href="#">讨论区</a></li>
                                <li><a href="#">关于我们</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>相关连接</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="http://www.moe.gov.cn/" target="_blank">中华人民共和国教育部</a></li>
                                <li><a href="https://yz.chsi.com.cn/" target="_blank">中国研究生招生信息网</a></li>
                                <li><a href="https://www.chsi.com.cn/" target="_blank">中国高等教育学生信息网（学信网）</a></li>
                                <li><a href="http://www.chinaedu.edu.cn/" target="_blank">中国教育信息网</a></li>
                                <li><a href="http://www.neea.edu.cn/" target="_blank">中国教育考试网</a></li>
                            </ul>
                        </nav>
                        <!-- <div class="gallery-list d-flex justify-content-between flex-wrap">
                            <a href="img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/bg-img/gallery1.jpg" alt=""></a>
                            <a href="img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/bg-img/gallery2.jpg" alt=""></a>
                            <a href="img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/bg-img/gallery3.jpg" alt=""></a>
                            <a href="img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/bg-img/gallery4.jpg" alt=""></a>
                            <a href="img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/bg-img/gallery5.jpg" alt=""></a>
                            <a href="img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>联系我们</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-placeholder"></i>
                            <p>吉林省长春市朝阳区延安大街2055号长春工业大学（南湖校区）</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-1"></i>
                            <p>(+86) 183 3887 8213</p>
                        </div>
                        <div class="single-contact d-flex">
                            <i class="icon-contract"></i>
                            <p>guoxinguang123@qq.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>
                        &copy; Copyright 2019 郭欣光 | <a href="/" title="智学新知">智学新知</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>