<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="myLessonDataList">
    <div id="myLessonDataListModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLessonDataListModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLessonDataListModelLabel">资料列表</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="myLessonDataListModelClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="myLessonDataListModelInfo">
                    <!--<table class="table table-hover">-->
                    <!--<tr>-->
                    <!--<th>列表</th>-->
                    <!--<th>时间</th>-->
                    <!--<th>操作</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>-->
                    <!--面试资料.doc-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--2019-03-01 10:30:21-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<button type="button" class="btn btn-success">查看</button>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>-->
                    <!--面试资料.doc-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--2019-03-01 10:30:21-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<button type="button" class="btn btn-success">查看</button>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>-->
                    <!--面试资料.doc-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--2019-03-01 10:30:21-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<button type="button" class="btn btn-success">查看</button>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--</table>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>