<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="videoList">
    <div id="videoListModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="videoListModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="videoListModelLabel">视频列表</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="videoListModelClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="videoListModelInfo">
                    <!--<table class="table table-hover">-->
                    <!--<tr>-->
                    <!--<th>列表</th>-->
                    <!--<th>时间</th>-->
                    <!--<th>操作</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>-->
                    <!--面试资料.doc-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--2019-03-01 10:30:21-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<button type="button" class="btn btn-success">查看</button>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>-->
                    <!--面试资料.doc-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--2019-03-01 10:30:21-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<button type="button" class="btn btn-success">查看</button>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>-->
                    <!--面试资料.doc-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--2019-03-01 10:30:21-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<button type="button" class="btn btn-success">查看</button>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--</table>-->
                </div>
            </div>
        </div>
    </div>

    <!--<div id="deleteLessonDataModel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="deleteLessonDataModelLabel">-->
    <!--<div class="modal-dialog modal-sm" role="document">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<h4 class="modal-title" id="deleteLessonDataModelLabel">提示</h4>-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="deleteLessonDataModelClose"><span aria-hidden="true">&times;</span></button>-->
    <!--</div>-->
    <!--<input type="hidden" id="deleteLessonDataLessonDataId">-->
    <!--<div class="modal-body" id="deleteLessonDataModelInfo">-->
    <!--确认要删除该课时信息吗？-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>-->
    <!--<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="deleteLessonData();">确定</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>