<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>智学新知 - 让教育更智能，让学习更有趣</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/logo_ico.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

	<link rel="stylesheet" href="/my/css/course.css">

    <link rel="stylesheet" href="/my/css/comment.css">
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area" th:include="/html_templates/header.html :: header"></header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>帖子详情</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="academy-blog-posts">
                        <div class="row">
                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Title -->
                                    <a href="" th:text="${discuss.name}" class="post-title"></a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <p><a href="" th:text="'由' + ${discuss.userName} + '创建于' + ${#strings.substringBefore(discuss.createTime, '.')}"></a></p>
                                    </div>
                                    <!-- Read More btn -->
                                    <button type="button" class="btn btn-primary" onclick="gotoPrePage();">返回</button>
                                    <button type="button" class="btn btn-danger" th:if="${discuss.userEmail} eq ${user.email}" th:onclick="openDeleteDiscussConfirmModel([[${discuss.id}]]);">删除</button>
                                    <hr/>
                                    <div th:utext="${discuss.content}">
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="openCreateCommentModel();">发表评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12">
                    <div class="academy-blog-posts">
                        <div class="latest-blog-posts mb-30">
                            <h5>评论</h5>
                            <p th:if="${commentList} == null">还没有评论哦~快来发表下自己的看法是吧~</p>
                            <!--<div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="300ms" th:if="${commentList} != null" th:each="comment : ${commentList}">-->
                                <!--<div class="user-head">-->
                                    <!--&lt;!&ndash; <i class="icon-id-card"></i> &ndash;&gt;-->
                                    <!--<img th:src="'/user_resource/' + ${comment.userHeadImage}" alt="">-->
                                <!--</div>-->
                                <!--<div class="course-content">-->
                                    <!--<h6 th:text="${comment.userName}"></h6>-->
                                    <!--<p th:text="${comment.content}"></p>-->
                                    <!--<p>发表于<span th:text="${#strings.substringBefore(comment.createTime, '.')}"></span></p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="col-12 col-md-12">
                                <div class="single-testimonial-area mb-15 d-flex wow fadeInUp" data-wow-delay="400ms" th:if="${commentList} != null" th:each="comment : ${commentList}">
                                    <div class="testimonial-thumb">
                                        <img th:src="'/user_resource/' + ${comment.userHeadImage}" alt="">
                                    </div>
                                    <div class="comment-content">
                                        <h5 th:text="${comment.userName}"></h5>
                                        <p th:text="${comment.content}"></p>
                                        <p>发表于<span th:text="${#strings.substringBefore(comment.createTime, '.')}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a th:if="${discuss.userEmail} eq ${user.email}" href="javascript:void(0);" th:onclick="openDeleteCommentModel([[${comment.id}]]);return false;" style="color: red;">删除</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-default" disabled="disabled" th:if="${commentPrePage} == null"><span aria-hidden="true">&laquo;</span>上一页</button>
                                <button type="button" class="btn btn-default" th:if="${commentPrePage} != null" th:onclick="openDiscussDetailPage([[${discuss.id}]], [[${commentPrePage}]]);"><span aria-hidden="true">&laquo;</span>上一页</button>
                                <button type="button" class="btn btn-default" disabled="disabled" th:text="${commentPage} + '/' + ${commentPageNumber}">1/1</button>
                                <button type="button" class="btn btn-default" disabled="disabled" th:if="${commentNextPage} == null">下一页<span aria-hidden="true">&raquo;</span></button>
                                <button type="button" class="btn btn-default" th:if="${commentNextPage} != null" th:onclick="openDiscussDetailPage([[${discuss.id}]], [[${commentNextPage}]]);">下一页<span aria-hidden="true">&raquo;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area" th:include="/html_templates/footer.html :: footer"></footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- 发表评论提示框 -->
    <div th:include="/html_templates/create_comment.html :: createComment"></div>
    <!-- 删除评论确认框 -->
    <div th:include="/html_templates/confirm_modal.html :: deleteCommentConfirm"></div>
    <!-- 删除讨论帖子确认框 -->
    <div th:include="/html_templates/confirm_modal.html :: deleteDiscussConfirm"></div>
    <!-- 信息提示框 -->
    <div th:include="/html_templates/alert_info.html :: alert"></div>
    <!-- 等待框 -->
    <div th:include="/html_templates/loading.html :: loading"></div>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script src="/my/js/utils.js"></script>

    <script src="/my/js/create_comment.js"></script>
    <script src="/my/js/delete_comment.js"></script>
    <script src="/my/js/delete_discuss.js"></script>


<script>
    function gotoPrePage() {
        var prePageUrl = document.referrer;
        if (prePageUrl == "") {
            window.location.href = "/discuss/1";
        } else if (prePageUrl.indexOf("login") != -1) {
            window.location.href = "/discuss/1";
        } else if (prePageUrl.indexOf("discuss") == -1) {
            window.location.href = "/discuss/1";
        } else {
            window.location.href = prePageUrl;
        }
    }

    function openDiscussDetailPage(discussId, page) {
        window.location.href = "/discuss/detail/" + discussId + "/" + page;
    }
</script>
</body>

</html>