<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>智学新知 - 让教育更智能，让学习更有趣</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/logo_ico.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

	<link rel="stylesheet" href="/my/css/course.css">
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area" th:include="/html_templates/header.html :: header"></header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>考试列表</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="academy-blog-posts">
                        <div class="row">
                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Thumb -->
                                    <div class="blog-post-thumb mb-50">
                                        <img th:src="'/course_resource/' + ${course.image}" alt="" width="100%">
                                    </div>
                                    <!-- Post Title -->
                                    <a href="" th:text="${course.name}" class="post-title"></a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <p><a href="" th:text="${course.userName}"></a> | <a href="" th:text="'创建时间：' + ${#strings.substringBefore(course.createTime, '.')}"></a> | <a href="" th:text="'最近修改时间：' + ${#strings.substringBefore(course.modifyTime, '.')}"></a> | <a href="" th:text="'学习人数：' + ${course.studyNumber} + '人'"></a></p>
                                    </div>
                                    <!-- Post Excerpt -->
                                    <p th:text="${course.introduction}"></p>
                                    <!-- Read More btn -->
                                    <button type="button" class="btn btn-info" th:onclick="openCourseDetailPage([[${courseType}]], [[${course.id}]], 1);">课时列表</button>
                                    <button type="button" class="btn btn-primary" th:if="${course.userEmail} eq ${user.email}" th:onclick="openMyCoursePage([[${course.id}]]);">管理课程</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="academy-blog-posts">
                        <div class="row">
                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Title -->
                                    <h5>考试列表</h5>
                                    <br/>
                                     <p th:if="${examList} == null">这里空空如也~</p>
                                    <div th:if="${examList} != null" th:each="exam : ${examList}">
                                        <h6 th:text="${exam.name}"></h6>
                                        <div class="post-meta">
                                            <p>最后修改于：<span th:text="${#strings.substringBefore(exam.modifyTime, '.')}"></span> | 考试开始时间：<span th:if="${exam.startTime} != null" th:text="${#strings.substringBefore(exam.startTime, '.')}"></span><span th:if="${exam.startTime} == null">无</span> | 考试结束时间：<span th:if="${exam.endTime} != null" th:text="${#strings.substringBefore(exam.endTime, '.')}"></span><span th:if="${exam.endTime} == null">无</span> | 考试时长：<span th:if="${exam.duration} ne '0'" th:text="${exam.duration}"></span><span th:if="${exam.duration} eq '0'">无</span></p>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary">开始考试</button>
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-default" disabled="disabled" th:if="${examPrePage} == null"><span aria-hidden="true">&laquo;</span>上一页</button>
                                        <button type="button" class="btn btn-default" th:if="${examPrePage} != null" th:onclick="openExamLisPage([[${courseType}]], [[${course.id}]], [[${examPrePage}]]);"><span aria-hidden="true">&laquo;</span>上一页</button>
                                        <button type="button" class="btn btn-default" disabled="disabled" th:text="${examPage} + '/' + ${examPageNumber}">1/1</button>
                                        <button type="button" class="btn btn-default" disabled="disabled" th:if="${examNextPage} == null">下一页<span aria-hidden="true">&raquo;</span></button>
                                        <button type="button" class="btn btn-default" th:if="${examNextPage} != null" th:onclick="openExamLisPage([[${courseType}]], [[${course.id}]], [[${examNextPage}]]);">下一页<span aria-hidden="true">&raquo;</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="academy-blog-sidebar">
                        <div class="latest-blog-posts mb-30" th:include="/html_templates/last_course.html :: lastCourse">
                        </div>

                        <div class="latest-blog-posts mb-30" th:include="/html_templates/popular_course.html :: popularCourse">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area" th:include="/html_templates/footer.html :: footer"></footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- 信息提示框 -->
    <div th:include="/html_templates/alert_info.html :: alert"></div>
    <!-- 等待框 -->
    <div th:include="/html_templates/loading.html :: loading"></div>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script src="/my/js/utils.js"></script>

<script>
//    function openLessonPage(courseType, lessonId) {
//        window.location.href = "/lesson/" + courseType + "/detail/" + lessonId;
//    }

    function openMyCoursePage(courseId) {
        window.location.href = "/course/my/detail/" + courseId + "/1";
    }

    function openCourseDetailPage(courseType, courseId, pageNumber) {
        window.location.href = "/course/" + courseType + "/detail/" + courseId + "/" + pageNumber;
    }

    function openExamLisPage(courseType, courseId, pageNumber) {
        window.location.href = "/exam/" + courseType + "/list/" + courseId + "/" + pageNumber;
    }
</script>
</body>

</html>