<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>智学新知 - 让教育更智能，让学习更有趣</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/logo_ico.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

	<link rel="stylesheet" href="/my/css/course.css">
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area" th:include="/html_templates/header.html :: header"></header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>课程详情</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="academy-blog-posts">
                        <div class="row">
                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Thumb -->
                                    <div class="blog-post-thumb mb-50">
                                        <img th:src="'/course_resource/' + ${course.image}" alt="" width="100%">
                                    </div>
                                    <!-- Post Title -->
                                    <a href="" th:text="${course.name}" class="post-title"></a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <p><a href="" th:text="${course.userName}"></a> | <a href="" th:text="'创建时间：' + ${#strings.substringBefore(course.createTime, '.')}"></a> | <a href="" th:text="'最近修改时间：' + ${#strings.substringBefore(course.modifyTime, '.')}"></a> | <a href="" th:text="'学习人数：' + ${course.studyNumber} + '人'"></a></p>
                                    </div>
                                    <!-- Post Excerpt -->
                                    <p th:text="${course.introduction}"></p>
                                    <!-- Read More btn -->
                                    <button type="button" class="btn btn-success" th:onclick="openCreateLessonPage([[${course.id}]]);">添加课时</button>
                                    <button type="button" class="btn btn-info">考试列表</button>
                                    <button type="button" class="btn btn-primary">添加考试</button>
                                    <button type="button" class="btn btn-success" onclick="openEditCourseModel();">修改资料</button>
                                    <button type="button" class="btn btn-primary" onclick="openEditCourseImageModel();">修改封面</button>
                                    <button type="button" class="btn btn-info" th:if="${course.isPrivate} eq '1'">学习人员管理</button>
                                    <button type="button" class="btn btn-danger">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="academy-blog-posts">
                        <div class="row">
                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Title -->
                                    <h5>课时列表</h5>
                                    <br/>
                                     <p th:if="${lessonList} == null">这里空空如也~</p>
                                    <div th:if="${lessonList} != null" th:each="lesson : ${lessonList}">
                                        <h6 th:text="${lesson.name}"></h6>
                                        <div class="post-meta">
                                            <p>最后修改于：<span th:text="${#strings.substringBefore(lesson.modifyTime, '.')}"></span></p>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary" th:onclick="openMyLessonPage([[${lesson.id}]]);">查看</button>
                                                <button type="button" class="btn btn-info" th:onclick="openEditLesson([[${lesson.id}]]);">修改</button>
                                                <button type="button" class="btn btn-primary" th:onclick="openMyLessonDataListModel([[${lesson.id}]]);">资料列表</button>
                                                <button type="button" class="btn btn-success" th:onclick="openUploadLessonDataModel([[${lesson.id}]]);">上传资料</button>
                                                <button type="button" class="btn btn-danger">删除</button>
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<h6>Top ten courses we love for you to try</h6>-->
                                        <!--<div class="post-meta">-->
                                            <!--<p>最后修改于：<span>2019-01-01 11:22:32</span></p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<button type="button" class="btn btn-primary">查看</button>-->
                                                <!--<button type="button" class="btn btn-info">修改</button>-->
                                                <!--<button type="button" class="btn btn-primary">资料列表</button>-->
                                                <!--<button type="button" class="btn btn-success">上传资料</button>-->
                                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-default" disabled="disabled" th:if="${lessonPrePage} == null"><span aria-hidden="true">&laquo;</span>上一页</button>
                                        <button type="button" class="btn btn-default" th:if="${lessonPrePage} != null" th:onclick="openMyCourseDetailPage([[${course.id}]], [[${lessonPrePage}]]);"><span aria-hidden="true">&laquo;</span>上一页</button>
                                        <button type="button" class="btn btn-default" disabled="disabled" th:text="${lessonPage} + '/' + ${lessonPageNumber}">1/1</button>
                                        <button type="button" class="btn btn-default" disabled="disabled" th:if="${lessonNextPage} == null">下一页<span aria-hidden="true">&raquo;</span></button>
                                        <button type="button" class="btn btn-default" th:if="${lessonNextPage} != null" th:onclick="openMyCourseDetailPage([[${course.id}]], [[${lessonNextPage}]]);">下一页<span aria-hidden="true">&raquo;</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="academy-blog-sidebar">
                        <div class="latest-blog-posts mb-30" th:include="/html_templates/my_last_course.html :: myLastCourse">
                        </div>

                        <!-- Add Widget -->
                        <!-- <div class="add-widget">
                            <a href="#"><img src="img/blog-img/add.png" alt=""></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area" th:include="/html_templates/footer.html :: footer"></footer>
    <!-- ##### Footer Area Start ##### -->
    <div id="editCourseModel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="editCourseModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editCourseModelLabel">修改资料</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="editCourseModelClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="editCourseModelInfo">
                    <form id="editCourseForm">
                        <div class="form-group">
                            <label for="courseName" style="font-weight:bold;">课程名称</label>
                            <input type="text" class="form-control" id="courseName" name="courseName" maxlength="100" placeholder="不得超过100字符" th:value="${course.name}">
                        </div>
                        <div class="form-group">
                            <label for="courseIntroduction" style="font-weight:bold;">课程简介</label>
                            <textarea class="form-control" rows="3" id="courseIntroduction" name="courseIntroduction" placeholder="不得超过500字符" maxlength="500" th:text="${course.introduction}"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" th:onclick="editCourse([[${course.id}]]);">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div id="editCourseImageModel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="editCourseImageModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editCourseImageModelLabel">修改封面</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="editCourseImageModelClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="editCourseImageModelInfo">
                    <form id="editCourseImageForm" enctype="multipart/form-data">
                        <input type="hidden" name="courseId" id="courseId" th:value="${course.id}">
                        <div class="form-group">
                            <label for="courseImage" style="font-weight:bold;">封面图片</label>
                            <input type="file" id="courseImage" name="courseImage" class="form-control"  multiple accept="image/*">
                            <p class="help-block" style="color:red;">* 封面图片大小不能超过10MB</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" onclick="editCourseImage();">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 课时资料模板-->
    <div th:include="/html_templates/my_lesson_data_list.html :: myLessonDataList"></div>
    <!-- 上传资料模板-->
    <div th:include="/html_templates/upload_lesson_data.html :: uploadLessonData"></div>
    <!-- 信息提示框 -->
    <div th:include="/html_templates/alert_info.html :: alert"></div>
    <!-- 等待框 -->
    <div th:include="/html_templates/loading.html :: loading"></div>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script src="/my/js/utils.js"></script>
    <script src="/my/js/my_course_detail.js"></script>
    <script src="/my/js/upload_lesson_data.js"></script>
    <script src="/my/js/my_lesson_data_list.js"></script>
</body>

</html>