<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>智学新知 - 让教育更智能，让学习更有趣</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/logo_ico.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

	<link rel="stylesheet" href="/my/css/course.css">
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area" th:include="/html_templates/header.html :: header"></header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>考试详情</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="academy-blog-posts">
                        <div class="row">
                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Title -->
                                    <a href="" th:text="${exam.name}" class="post-title"></a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <p><a href="" th:text="'创建时间：' + ${#strings.substringBefore(exam.createTime, '.')}"></a> | <a href="" th:text="'最近修改时间：' + ${#strings.substringBefore(exam.modifyTime, '.')}"></a></p>
                                        <p th:if="${exam.requirement} == null"><a href="">考试要求：无</a></p>
                                        <p th:if="${exam.requirement} != null"><a href="" th:text="'考试要求：' + ${exam.requirement}"></a></p>
                                        <p th:if="${exam.startTime} == null"><a href="">考试开始时间：无</a></p>
                                        <p th:if="${exam.startTime} != null"><a href="" th:text="'考试开始时间：' + ${exam.startTime}"></a> </p>
                                        <p th:if="${exam.endTime} == null"><a href="">考试结束时间：无</a></p>
                                        <p th:if="${exam.endTime} != null"><a href="" th:text="'考试结束时间：' + ${exam.endTime}"></a> </p>
                                        <p th:if="${exam.duration} eq '0'"><a href="">考试时长：无</a></p>
                                        <p th:if="${exam.duration} ne '0'"><a href="" th:text="'考试时长：' + ${exam.duration}"></a> </p>
                                    </div>
                                    <!-- Read More btn -->
                                    <button type="button" class="btn btn-primary">添加选择题</button>
                                    <button type="button" class="btn btn-success">添加客观题</button>
                                    <button type="button" class="btn btn-primary" th:onclick="openMyExamListPage([[${course.id}]]);">返回考试列表</button>
                                    <button type="button" class="btn btn-info" th:onclick="openMyCourseDetailPage([[${course.id}]]);">返回课程</button>
                                    <button type="button" class="btn btn-danger">删除</button>
                                    <hr/>
                                    <h3>考试内容</h3>
                                    <div>
                                        这里空空如也~
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="academy-blog-sidebar">
                        <div class="blog-post-categories mb-30" th:include="/html_templates/my_last_exam.html :: myLastExam">
                        </div>

                        <div class="latest-blog-posts mb-30" th:include="/html_templates/my_last_course.html :: myLastCourse">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area" th:include="/html_templates/footer.html :: footer"></footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- 信息提示框 -->
    <div th:include="/html_templates/alert_info.html :: alert"></div>
    <!-- 等待框 -->
    <div th:include="/html_templates/loading.html :: loading"></div>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script src="/my/js/utils.js"></script>
    <script>
        function openMyExamListPage(courseId) {
            window.location.href = "/exam/my/list/" + courseId + "/1";
        }

        function openMyCourseDetailPage(courseId) {
            window.location.href = "/course/my/detail/" + courseId + "/1";
        }
    </script>

    <!--<script src="/my/js/my_lesson_detail.js"></script>-->
    <!--<script src="/my/js/my_lesson_data_list.js"></script>-->
</body>

</html>